<ion-view title="Issues" id="page2">
  <ion-content padding="true" class="has-header">
    <ion-list id="issues-list1">
      <ion-item class="item-icon-left" id="issues-list-item10" ng-click="ChooseIssue('Environment')" ui-sref="causes">
        <i class="icon ion-android-globe"></i>Environment</ion-item>
      <ion-item class="item-icon-left" id="issues-list-item7" ng-click="ChooseIssue('Immigration')" ui-sref="causes">
        <i class="icon ion-ios-people"></i>Immigration</ion-item>
      <ion-item class="item-icon-left" id="issues-list-item8" ng-click="ChooseIssue('Islam')" ui-sref="causes">
        <i class="icon ion-ios-moon"></i>Islam</ion-item>
      <ion-item class="item-icon-left" id="issues-list-item9" ng-click="ChooseIssue('Supreme Court')" ui-sref="causes">
        <i class="icon ion-alert"></i>Supreme Court</ion-item>
      <ion-item class="item-icon-left" id="issues-list-item9" ng-click="ChooseIssue('Transgender Issues')" ui-sref="causes">
        <i class="icon ion-transgender"></i>Transgender Issues</ion-item>
      <ion-item class="item-icon-left" id="issues-list-item9" ng-click="ChooseIssue('Healthcare')" ui-sref="causes">
        <i class="icon ion-medkit"></i>Healthcare</ion-item>
    </ion-list>
  </ion-content>
</ion-view>